
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: aquamarine;
}
.gallery{
  width: 100vw;
  display: flex;
  overflow-x: scroll;
}
.gallery div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  padding: 1rem;
  flex: none;
}
.gallery div img{
  width: 100%;
}
.gallery::-webkit-scrollbar{
  display: none;
}
.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}
#nextBtn,
#backBtn{
  width: 2.3rem;
  cursor: pointer;
  margin: 2rem;
}